a.panel {
background-color: red;
color:white;
text-decoration:none;
margin:20px;
padding: 20px;
float: right;
}
a:hover.panel {
background-color: blue;
color:yellow;
text-decoration:none;
margin:20px;
padding: 20px;
float: right;
}

.photos
{   
    width:100%;
    height:auto;
    margin: 10px;
    
}
.themeselect {
    color:red;
}

.eventblock {
    background-color:green;
    color:black;
    margin: 10px;
    font-size: 16px;
}
.eventblock p  {
    text-align: center;
}
.homepagephotos {
    width:400px;
    height:400px;
}